/* start画面のボタンデザイン */
.startPageBtn{
    appearance: none;
    outline: 0;
    border: 0;
    background-color: white;
    opacity: 0.8;
    width: 25vw;
    height: 50vh;
    margin: 0.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;

    font-size: 1.8rem;
    font-weight: 600;
}
.startPageBtn:focus{
    outline: none;
}

.startPageBtn:hover{
    transform: scale(1.05);
    opacity: 0.9;
}


/* フォーム画面 */
    /* form input */
input.form-login{
    display: block;
    appearance: none;
    outline: 0;
    border:solid 1px;
    border-color: white;
    border-radius: 3px;

    background-color: rgb(255, 255, 255, 0.2);

    padding: 10px 15px;
    margin: 0 auto 15px auto;
    
    font-size: large;
    color: black;
}
input.form-login:focus{
    background-color: rgb(255, 255, 255, 0.2);
    box-shadow: none;
    border-color: var(--color-white);
}


    /* button login */
button.button-login{
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: var(--wrapper-color2);
    border-radius: 3px;
    cursor: pointer;
    font-size: large;
}
button.button-login:hover{
    transform: scale(1.1);
}


/*画面切り替え時に使うcss*/
.pointer-none{
    pointer-events: none;
}


/* アニメーション */
/* ゆっくり消える・現われる */
.d-none-slow{
    animation: d-none-slow 0.5s linear forwards;
}
.d-appear-slow{
    animation: d-none-slow 0.6s linear reverse forwards;
}
.d-none-slow-scale{
    animation: d-none-slow-scale 0.5s linear forwards;
}
.d-none-slow-delay2s{
    animation: d-none-slow 0.8s linear forwards;
    animation-delay: 2s;
}
.d-appear-slow-dalay3s{
    animation: d-none-slow 0.6s linear reverse forwards;
    animation-delay: 3s;
}
/* ゆっくり色を変える */
.color-change-blue-1s{
    animation: color-change-blue 1.5s 5s linear forwards;
}

@keyframes d-none-slow-scale {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes d-none-slow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes color-change-blue{
    0%{
        color: #f8f9fa;
    }
    100%{
        color:blue;
    }
}